<h1>O Nama</h1>
<hr />
<div class="paragraphContainer">
  <div class="paragraphIcon"><i class="fa-solid fa-location-dot"></i></div>
  <p>
    <span>
      Nalazimo se na jednoj od četiri glavne prometnice u Dubravi i posjedujemo
      servisno prodajni prostor od 375 m2, termolakirnicu od 250 m2 te skladišno
      kancelarijski prostor od 150 m2.
    </span>
  </p>
</div>
<div class="paragraphContainer">
  <div class="paragraphIcon"><i class="fa-solid fa-car-burst"></i></div>
  <p>
    <span>
      Održavamo i servisiramo veliki broj osobnih vozila te vozila privatnih i
      javnih poduzeća.
    </span>
  </p>
</div>
<div class="paragraphContainer">
  <div class="paragraphIcon"><i class="fa-solid fa-people-roof"></i></div>
  <p>
    <span>
      Poslujemo sa vodećim osiguravajućim i leasing kućama u Hrvatskoj te nudimo
      mogućnost direktne naplate od osiguravajuće kuće.
    </span>
  </p>
</div>
