<div class="container" [ngClass]="isNavExpanded ? 'show-nav' : ''">
  <div class="circle-container">
    <div class="circle">
      <button id="close" (click)="toggleNav(false)">
        <i class="fas fa-times"> </i>
      </button>
      <button id="open" (click)="toggleNav(true)">
        <i class="fas fa-bars"></i>
      </button>
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
<nav>
  <ul>
    <li>
      <a routerLink="/" (click)="toggleNav(false)"
        ><i class="fas fa-home"></i>Naslovna</a
      >
    </li>
    <li>
      <a routerLink="/usluge" (click)="toggleNav(false)"
        ><i class="fas fa-car"></i>Usluge</a
      >
    </li>
    <li>
      <a routerLink="/kontakt" (click)="toggleNav(false)">
        <i class="fas fa-envelope"></i>Kontakt</a
      >
    </li>
  </ul>
</nav>
