.container {
  /* background-color: #fffffe; */
  background-color: #23a6d5;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 12s ease infinite;

  transform-origin: top left;
  transition: transform 0.5s ease-out;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
}

.container.show-nav {
  transform: rotate(-20deg);
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
  z-index: 99;
}

.contact-btn {
  position: fixed;
  color: #ffffff;
  background-color: #10b418;
  font-size: x-large;
  border: 0;
  right: 25px;
  bottom: 25px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 99;
}

.contact-btn:before {
  position: absolute;
  content: " ";
  z-index: -1;
  top: -15px;
  left: -15px;
  background-color: #10b418;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  opacity: 0.6;
  -webkit-animation: pulse 1s ease-out;
  animation: pulse 1.8s ease-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.circle {
  background-color: #ffd803;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s ease-out;
}

.container.show-nav .circle {
  transform: rotate(-70deg);
}

.circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: #fff;
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

nav {
  pointer-events: none;
}

nav ul {
  list-style-type: none;
  padding-left: 30px;
}

nav ul li {
  text-transform: uppercase;
  color: #fff;
  margin: 40px 0;
  transform: translateX(-150%);
  transition: transform 0.4s ease-in;
  pointer-events: all;
}

nav ul li a {
  text-decoration: inherit;
  color: #fff;
}

nav ul li i {
  font-size: 20px;
  margin-right: 10px;
}

nav ul li + li {
  margin-left: 15px;
  transform: translateX(-200%);
}

nav ul li + li + li {
  margin-left: 30px;
  transform: translateX(-250%);
}

nav ul li + li + li + li {
  margin-left: 45px;
  transform: translateX(-300%);
}

.container.show-nav + nav ul li {
  transform: translateX(0) !important;
  transition-delay: 0.15s;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

nav a {
  text-decoration: underline !important;
  text-decoration-color: transparent !important;
  transition: color 0.2s ease-in-out, text-decoration-color 0.3s ease-in-out;
}

nav a.active {
  color: #ffd803 !important;
}

nav a:hover {
  color: #ffd803 !important;
  text-decoration-color: #ffd803 !important;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  25% {
    -webkit-transform: scale(0.3);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(0.6);
    opacity: 0.6;
  }
  75% {
    -webkit-transform: scale(0.9);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  25% {
    transform: scale(0.3);
    opacity: 1;
  }
  50% {
    transform: scale(0.6);
    opacity: 0.6;
  }
  75% {
    transform: scale(0.9);
    opacity: 0.3;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
