.carousel {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
  border-radius: 20px;
  position: relative;
}

img {
  width: 100%;
  object-fit: cover;
}

.image-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  position: relative;
}

.buttons-container {
  position: absolute;
  z-index: 98;
  top: 50%;
  left: 0;
  width: 100%;
  display: flex;
  transform: translateY(-50%);
  justify-content: space-between;
}

.btn {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: x-large;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

.btn:hover {
  background-color: #ffd803;
  opacity: 0.8;
}

.btn:focus {
  outline: none !important;
}

/* .buttons-container {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 2px;
  padding: 0.5rem;
  cursor: pointer;
  width: 49.5%;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #ffd803;
  opacity: 0.8;
}

.btn:focus {
  outline: none;
} */
