<h1>
  <img
    class="logoImg"
    src="../assets/images/autopericlogo.png"
    alt=""
    width="150"
    height="60"
  />
</h1>
<!-- <small>Auto servis Perić</small> -->
<p>
  <b>AUTO SERVIS PERIĆ</b> je tvrtka u privatnom vlasništvu, koja je počela s
  radom još davne 1968. godine te raspolaže vrhunskim stručnjacima koji uz
  najmodernije uređaje mogu pružiti zadovoljavajuću uslugu servisiranja i
  održavanja svih vrsta motornih vozila.
</p>
<hr />
<!-- <p>
  Nalazimo se na jednoj od četiri glavne prometnice u Dubravi i posjedujemo
  servisno prodajni prostor od 375 m2, termolakirnicu od 250 m2 te skladišno
  kancelarijski prostor od 150 m2.
</p>
<hr /> -->
<p>
  Održavamo i servisiramo veliki broj osobnih vozila te vozila privatnih i
  javnih poduzeća. Poslujemo sa vodećim osiguravajućim i leasing kućama u
  Hrvatskoj te omogućavamo direktnu naplatu od osiguravajuće kuće.
</p>
<img
  class="homeImg"
  src="https://auto-peric.hr/images/1010867_548460911869221_1173404851_n.jpg"
  alt="o nama"
/>
