h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

h1 img {
  /* border: 2px solid #fff;
  background-color: #40b3ff;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  box-shadow: 10px 10px 5px #ccc;
  border-radius: 5px;
  margin: 10px; */
  -webkit-filter: drop-shadow(5px 5px 5px #666666);
  filter: drop-shadow(5px 5px 5px #666666);
}
